# Tupla
É uma sequência imutável e de tamanhos fixos. Uma vez atribuída não pode ser alterado

In [28]:
# a maneira mais fácil de criar uma tupla é com números dentro de um parentese separados por vírgula.
tupla = (1, 2, 3, 4)
tupla

(1, 2, 3, 4)

In [29]:
#Pode também emitir o parêntese  
tup = 4,5,6
tup
type(tup)

tuple

## Os elementos podem ser acessados por meio dos colchetes [] !
### As sequências em python sõa indexadas começando em 0 !

In [30]:
# existe a possibilidade de criar uma tupla de tuplas
nested_tup = (4,5,6),(7,8)
nested_tup

((4, 5, 6), (7, 8))

In [31]:
nested_tup[0]

(4, 5, 6)

In [32]:
nested_tup[1]

(7, 8)

## As tuplas podem ter objetos de diversos tipos de uma única vez desde elementos int,float,lista,string ...
### Se dentro da tupla existiter um objeto mutável você pode alterar ele diretamente no local basta indicar o indíce do próprio

In [33]:
tupla_diversos = ('samuel',[1,2,3],25.7,)
tupla_diversos

('samuel', [1, 2, 3], 25.7)

In [34]:
tupla_diversos[1].append(4)
tupla_diversos

('samuel', [1, 2, 3, 4], 25.7)

## Contatenar = 
### juntar duas ou mais sequências de caracteres (strings) em uma única sequência

In [35]:
tupla_diversos +  nested_tup
# Para contatenar em python diversas tuplas bastar colocar a simbolo da adição

('samuel', [1, 2, 3, 4], 25.7, (4, 5, 6), (7, 8))

## Desempacotamento de tuplas 
### Isso facilita a troca do nome da variável deixando o código mais limpo

In [36]:
linha = (4,5,6)
a,b,c=linha 
b

5

### Por causa da imútabilidade da tupla ela tem poucos atributos um especialmente útil é o count(). Que realiza a conta do número de ocorrrências de um valor determinado

In [37]:
a = (1,2,2,2,3,4,5,62,22,2)
a.count(2)

4

# Lista

## É uma coleção mutável, que tem o tamanho variável e pode ser modificada diretamente no local
### A forma mais fácil de representar é com os objetos dentro de um colchete [] separados por virgula , .

In [38]:
# exemplo de lista 
lista = [2,3,45.7,'Samuel', (1,2,3)]
lista

[2, 3, 45.7, 'Samuel', (1, 2, 3)]